<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title  || 'BeanZ'%></title>
  <style>
    body{
      background-color: #2d2d2d;
      color:#ffffffce;

    }
  </style>
</head>
<body>
  <h1>Welcome to BeanZ</h1>
  <p>How the feck are ya?</p>
  <%- include('../partials/footer.ejs', {}); %> 
</body>
</html>